/* Playground Page Styles */

/* body {
  background-image: url('../../assets/theme/CodeDam/images/bck_v1.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
} */
