.droppable-slot {
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    font-size: 16px;
    font-weight: 800;
    color: var(--main-color);

    &.can-accept {
        border: 2px solid var(--green-light);
        box-shadow: 0px 0px 6px 3px var(--green-light);
    }

    &.is-over {
        border: 2px solid var(--green-light);
        box-shadow: 0px 0px 6px 3px var(--green-light);
    }
}