@import "tailwindcss";

/* Fonts - Mulish */
@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Extra_Light_2807.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Light_2808.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Regular_2809.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Medium_2810.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Semi_Bold_2811.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Bold_2812.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Extra_Bold_2813.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Black_2814.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Extra_Light_Italic_2815.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Light_Italic_2816.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Italic_2817.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Medium_Italic_2818.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Semi_Bold_Italic_2819.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Bold_Italic_2820.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Extra_Bold_Italic_2821.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/mulish/Mulish_Black_Italic_2822.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  /* Variables */
  --main-color: #684f37;
  --secondary-color: #edac47;

  --green-light: #80d689;
  --green-dark: #37ab80;

  --white-color: #ffffff;
  --link-blue-bcg: #539ed1;

  --header-height: 96px;

  --box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.5);

  font-family: "Mulish";
  color: var(--main-color);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #6bbbff;
  font-family: "Mulish";
  font-weight: 400;
  color: var(--main-color);
}

aside {
  padding: 0 24px 16px 24px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-content {
  flex: 1;
}
